*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #eee; */
  background-color: #8f6600;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


